<h2>Unit Testing</h2>
<img th:src="@{/images/test_results.png}" alt="" width="252" height="260" />
<div class="textarea">

	<p>
		<strong>JUnit</strong> | <strong>Mocking</strong> | <strong>Test Driven</strong>
	</p>
	<p>
		aaaTest Driven Development is increasingly becoming the <i>'must have'</i> skill in the Java world. <br /> Many corporations now insist that delivered code is
		well covered by Unit Tests. Unfortunately most Java developers, even the experienced ones, fail to fully grasp the techniques required to create robust and
		meaningful Unit Tests which fully test and protect the code base.
	</p>
	<p>
		Here at CodeCoverage we specialise in training Java developers in the latest Java unit test techniques. At the end of our intensive course developers will be
		able to return back to their teams equipped with tools needed to tackle the most difficult unit test scenarios.
	</p>
	<div class="clr"></div>
</div>



<p>
	<strong>zzzLorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero.</strong> Suspendisse bibendum.<br /> Cras id urna. Morbi tincidunt, orci ac
	convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac
	blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra condimentum, lorem tellus eleifend magna, eget fringilla velit magna id
	neque. <a href="#">Curabitur vel urna. In tristique orci porttitor ipsum</a>. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero.
	Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo.
</p>